body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4rem 1rem;
  color: $text;
}

h1, h2, strong {
  color: $text-alt;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $secondary;
  }
}

.center {
  text-align: center;
}
