/*
Original palette:
https://coolors.co/89d2dc-6564db-232ed1-101d42-0d1317
*/

$lavender-web: #DFE0F7;
$middle-blue: #89D2DC;
$slate-blue: #6564DB;
$persian-blue: #232ED1;
$oxford-blue: #101D42;
$rich-black: #0D1317;

$primary: $persian-blue;
$secondary: $slate-blue;
$light: $lavender-web;
$dark: $oxford-blue;
$text: $rich-black;