/*
Original palette:
https://coolors.co/89d2dc-6564db-232ed1-101d42-0d1317
*/

$ghost-white: #F5F5FA;
$middle-blue: #89D2DC;
$slate-blue: #6564DB;
$persian-blue: #232ED1;
$oxford-blue: #101D42;
$rich-black: #0D1317;
$charcoal: #2E4352;

$primary: $persian-blue;
$secondary: $slate-blue;
$light: $ghost-white;
$dark: $oxford-blue;
$text: $charcoal;
$text-alt: $rich-black;